body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.section {
    height: calc(100vh - 64px);
}

.modal-footer button {
    margin-right: 12px !important;
}

.input-field p {
    max-resolution: 0px !important;
}

.clearfix{
    clear: both;
}

/*

    --- Homepage ---

*/

/*Friend list*/
.user-img {
    margin-left: 8px;
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

.user-img-big {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 156px;
    max-height: 156px;
}

.container-user div {
    padding: 4px 0px 4px 4px !important;
}

.wrapper-user {
    display: inline-flex;
}

.wrapper-user p {
    margin-left: 8px;
}

#friend-list .container-user:nth-child(odd) div {
    background-color: #ededed !important;
}

.section-friend_list {
    color: black;
    background-color: white;
}

#recent-activity {
    border-right: solid 2px black !important;
}

.section-friend_request h4 {
    padding-top: 64px;
}

/*

    --- Account Page ---

*/
#container-account_img {
    text-align: center;
}

#container-chatbox {
    padding: 16px 0px 0px 0px;
}

#container-chatbox input {
    margin-bottom: 0px !important;
}

#userDetails {
  background-color: #EEEEEE;
}

.connectionLinks {
  background-color: gray;
}

#activityWrapper {
  background-color: #FEFEFE; height: 100vh;
}

.activityBlock{
  background-color: #9ecfe5;
  width: calc(100% - 2px);
  margin: 0 auto !important;
  border: 2px solid #5a8ac1;
  border-radius: 7px;
}

.activityAvatar {
  width: 100%;
  margin-top: 8px;
}

/* label color */
.input-field label {
    color: lightgrey;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3 !important;
}

#search-btn {
    margin: 22px 0px 0px 12px;
}

/*

    --- Project Styling ---

*/

#container-projects{
    overflow-y: scroll;
}

.project-wrapper {
    margin: 0 auto;
    max-width: 650px;
    height: fit-content;
    text-align: center;
    border: solid 2px lightgray;
    transition: background-color 0.3s ease;
}

.project-wrapper a {
    display: block;
    padding: 25px;
    color: black;
    font-size: 20px;
}

.project-wrapper:hover {
    background-color: #F9F9F9;
}

#create_article-button {
    display: block;
    padding: 25px;
    color: black;
    font-size: 20px;
}

/*

    --- Chatroom ---

*/

#chatWrap {
    height: 68vh;
}

#messageList {
    max-height: 67vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.otherMessage {
    /*background-color: rgb(54, 107, 142);*/
    background-color: rgb(197, 205, 210);
    border-radius: 10px;
}

.ownMessage {
    /*background-color: rgb(102, 169, 194);*/
    background-color: rgb(166, 177, 181);
    border-radius: 10px;
}

#activeUsers {
    background-color: #9F9F9F;
    height: 100vh;
}
