body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.section{
    height: calc(100vh - 64px);
}

/*

    --- Homepage ---

*/

/*Friend list*/
.user-img {
    margin-left: 8px;
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

.user-img-big {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 156px;
    max-height: 156px;
}

.container-user div {
    padding: 4px 0px 4px 4px !important;
}

.wrapper-user {
    display: inline-flex;
}

.wrapper-user p {
    margin-left: 8px;
}

#friend-list .container-user:nth-child(odd) div {
    background-color: #ededed !important;
}

#section-friend_list {
    color: black;
    background-color: white;
    border-left: 1px solid black;
}

/*

    --- Account Page ---

*/
#container-account_img{
    text-align: center;
}

#account_name{
    font-size: auto;
}

#container-chatbox{
    padding: 16px 0px 0px 0px;
}

#container-chatbox input{
    margin-bottom: 0px !important;
}