<!DOCTYPE html>
<html>

<!--Head-->
<head>
    <meta charset="utf-8">
    <title>The I.T. Connection</title>
    <!-- Website Stylesheets -->
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <!--Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/framework/materialize/css/materialize.min.css" rel="stylesheet" type="text/css">
    <!--Animate.css-->
    <link href="/framework/animate.css" rel="stylesheet" type="text/css">
</head>

<body>
<input type="hidden" id="global-user_id" value="{{ accountId }}"/>
{% include('templates/header.twig') %}
{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
{% include('templates/friendlistModal.twig') %}
<!--Materialize-->
<script src="/framework/materialize/js/materialize.min.js"></script>
<!-- Website Scripts -->
<script src="/index.php/js/global.js"></script>
<script>
    /* When the webpage is loaded do checks on the friend system and initialize all materialize components*/
    document.addEventListener("DOMContentLoaded", () => {
        CheckFriendRequests();
        RetrieveFriends();
    });
    M.AutoInit();
</script>
{% block script %}
{% endblock %}
</body>

</html>
