<div id="modal-friends" class="modal">
    <div class="modal-content">
        <div id="section-friend_list" class="col s2">
            <h4>Friends</h4>
            <!--Friend list-->
            <div class="divider"></div>
            <ul class="friend-list">
            </ul>
            <div class='row'>
              <h4>Requests</h4>
              <div class='divider'></div>
            </div>
            <div class="friend_request-list"></div>
        </div>
    </div>
</div>
