<div id="section-friend_list" class="col s2 hide-on-med-and-down section">
    <h4>Friends</h4>
    <!--Friend list-->
    <h5>Online</h5>
    <div class="divider"></div>
    <ul id="friend-list_online">
        <li class="container-user">
            <div class="col s12 wrapper-user">
                <img class="user-img" src="/img/users/test.png" alt="user image"/>
                <p>User 1</p>
            </div>
        </li>
    </ul>
    <h5>Offline</h5>
    <div class="divider"></div>
    <ul id="friend-list_offline">
        <li class="container-user">
            <div class="col s12 wrapper-user">
                <img class="user-img" src="/img/users/test.png" alt="user image"/>
                <p>User 2</p>
            </div>
        </li>
    </ul>
</div>