<div class="col s2 hide-on-med-and-down section section-friend_list">
    <h4>Friends</h4>
    <!--Friend list-->
    <div class="divider"></div>
    <ul class="friend-list">
    </ul>
    <div class="section-friend_request">
      <h4>Requests</h4>
      <div class='divider'></div>
    </div>
    <div class="friend_request-list"></div>
</div>
