<div id="modal-friends" class="modal">
    <div class="modal-content">
        <div id="section-friend_list" class="col s2">
            <h4>Friends</h4>
            <!--Friend list-->
            <div class="divider"></div>
            <ul id="friend-list">
                <li class="container-user">
                    <div class="col s12 wrapper-user">
                        <img class="user-img" src="/img/users/test.png" alt="user image"/>
                        <p>User 1</p>
                    </div>
                </li>
            </ul>
            <div class='row'>
              <h4>Requests</h4>
              <div class='divider'></div>
            </div>
            <div class="friend_request-list"></div>
        </div>
    </div>
</div>
