<header>
    <nav class="blue">
        <div class="nav-wrapper container">
            <a style="margin-left: 24px;" class="left brand-logo">The I.T. Connection</a>
            <ul id="nav-items" class="right">
                {% if loggedIn %}
                    <li><a href="{{ path_for('home') }}">Home</a></li>
                    <li><a href="{#{{ path_for('account') }}#}">Account</a></li>
                {% else %}
                    <li><a href="{{ path_for('register') }}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>