<header>
    <nav class="nav-wrapper blue">
        <a id="header-logo" class="left-align">The I.T. Connection</a>
        <ul id="nav-items" class="right">
            <li>Home</li>
            <li>Account</li>
            <li>Account</li>
            <li>Account</li>
        </ul>
    </nav>
</header>