<header>
    <nav class="nav-wrapper blue">
        <a style="margin-left: 24px;" class="left brand-logo">The I.T. Connection</a>
        <ul id="nav-items" class="right">
            <li><a href="{{ path_for('home') }}">Home</a></li>
            <li><a href="{#{{ path_for('account') }}#}">Account</a></li>
        </ul>
    </nav>
</header>