{% extends 'templates/base.twig' %}


{% block body %}
    <div>
        <!--Main Page Row-->
        <div class="row">

            <!--Main chatroom-->
            <div class="col l10 s12">
                <h2>{{ data.chat_room_name }}</h2>
                <div class="divider"></div>
                <div id="chatWrap">
                    <ul id="messageList"></ul>
                </div>
                <!--Input field, dear god help me.-->
                <div class="row">
                    <div class="divider"></div>
                    <div class="col s1"></div>
                    <div class="col s10">
                        <form onsubmit="return sendChatMessage();" id="messageForm">
                            <textarea class="materialize-textarea" name="message" rows="8" cols="80"
                                      placeholder="Enter your message..." onkeyup="updateChatTyping()"
                                      onkeypress="return checkEnter(event);"></textarea>
                        </form>
                        <ul id="typingList"></ul>
                    </div>
                    <div class="col s1"></div>
                </div>
            </div>
            {% include('templates/friendlist.twig') %}
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="http://chat.protask.duncte123.me/getChatScript.php?room={{ roomId }}&user={{ accountName }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", connectToChat);
        SetActive('header-chat');
    </script>
{% endblock %}
