{% extends '../templates/base.twig' %}


{% block body %}

    <style>
        #chatWrap {
            height: 68vh;
        }

        #messageList {
            max-height: 67vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .otherMessage {
            background-color: rgb(54, 107, 142);
        }

        .ownMessage {
            background-color: rgb(102, 169, 194);
        }

        #activeUsers {
            background-color: #9F9F9F;
            height: 100vh;
        }
    </style>

    <div>
        <!--Main Page Row-->
        <div class="row">

            <!--Main chatroom-->
            <div class="col l10 s12">
                <h2>Chatroom Name</h2>
                <div class="divider"></div>
                <div id="chatWrap">
                    <ul id="messageList"></ul>
                </div>
                <!--Input field, dear god help me.-->
                <div class="row">
                    <div class="divider"></div>
                    <div class="col s1"></div>
                    <div class="col s10">
                        <form onsubmit="return sendChatMessage();" id="messageForm">
                            <textarea class="materialize-textarea" name="message" rows="8" cols="80"
                                      placeholder="Enter your message..." onkeyup="updateChatTyping()"
                                      onkeypress="return checkEnter(event);"></textarea>
                            <button type="button" class="waves-effect waves-light btn blue col s12" name="button">
                                Send Message
                            </button>
                        </form>
                    </div>
                    <div class="col s1"></div>
                </div>
            </div>
            {% include('templates/friendlist.twig') %}
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="http://chat.protask.duncte123.me/getChatScript.php?room={{ roomId }}&user={{ accountName }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", connectToChat);
    </script>
{% endblock %}
