{% extends 'templates/base.twig' %}

{% block container %}
    {% if rooms is not empty %}
    <div>
        <ul id="list-chatroom">
            {% for r in rooms %}
                <li>
                    <a href="{{ path_for('chat', { 'room_id':r.chat_room_id  }) }}">{{ r.chat_room_id }}</a>
                    <div class="divider"></div>
                    <p>User: <span class="askdjfhals">{{ r.account_id }}</span></p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h2 class="center">No chat rooms found</h2>
        <h5 class="center"><a href="#createNewChatRoom" class=" modal-trigger">Click here to make a new chat room</a></h5>
        <div id="createNewChatRoom" class="modal">
            <div class="modal-content">
                <h4>Select Friends to Chat With</h4>
                <ul id="list-chat_friends">
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        async function afasdfa() {
            const elements = document.querySelectorAll(".askdjfhals");
            for (let el of elements) {
                let id = el.innerHTML;
                el.innerHTML = await ReturnUserName(id);
            }
        }
        afasdfa();
        RetrieveAllFriends();
    </script>
{% endblock %}