{% extends 'templates/base.twig' %}

{% block body %}
    <div>
        <!--Main Page Row-->
        <div class="row">
            <!--User Details-->
            <div class="col s3 section" id="userDetails">
                <div class="section">
                    <div class="row">
                        <div id="container-account_img" class="col s12">
                            <img class="user-img-big" src="/img/users/test.png" alt="Avatar">
                            <h4 id="account_name">{{ id }}</h4>
                            {% if accountName == id %}
                            <button class="btn center-align blue">Change Profile Picture</button>
                            {% endif %}
                        </div>
                        <div class="col s3"></div>
                    </div>
                </div>

                <div class="divider"></div>

                <!--Connections-->
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <h5>Connections</h5>
                        </div>
                        <div class="row">
                            <!--Links to connections-->
                            <div class="col s4 connectionLinks">
                                <img src="" alt="connectionAvatar">
                                <h5>Connection Username</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a>See more connections</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Projects-->
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <h5>Projects</h5>
                        </div>
                        <div class="row">
                            <!--Links to projects-->
                            <div class="col s4 connectionLinks">
                                <img src="" alt="projectImage">
                                <h5>Project name</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a>See more projects</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--If user is visiting own page, show settings button-->
                <a class="waves-effect waves-light btn">Settings</a>
            </div>

            <!--Recent Activities-->
            <div class="col l7 s9" id="activityWrapper">
                <!--Sections by time-->
                <div class="section">
                    <h6>Time Indicator</h6>
                    <div class="divider"></div>
                    <div class="activityBlock row">
                        <div class="col s1">
                            <img class="activityAvatar" src="/img/users/test.png" alt="avatar">
                        </div>
                        <div class="col s11">
                            <div class="row">
                                <div class="col s9">
                                    <h5>Username</h5>
                                </div>
                                <div class="col s3">
                                    <h6>date & time</h6>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Activity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('templates/friendlist.twig') %}
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        SetActive('header-account')
    </script>
{% endblock %}
