{% extends 'templates/base.twig' %}
  <style>
    #chatWrap {
      height: 75vh;
    }

    .otherMessage {
      background-color: rgb(54, 107, 142);
    }

    .ownMessage {
      background-color: rgb(102, 169, 194);
    }

    #activeUsers {
      background-color: #9F9F9F;
      height: 100vh;
    }
  </style>

{% block container %}
  <div class="">
    <!--Main Page Row-->
    <div class="row">

      <!--Main chatroom-->
      <div class="col s10">
        <h2>Chatroom Name</h2>
        <div class="divider"></div>
        <div id="chatWrap">

          <!--Create new rows for every message... fugg-->
          <div class="row">
            <!--if own message use right col, if not use left col-->
            <div class="col s6 otherMessage">
              <div class="row">
                <div class="col s2">
                  <img src="" alt="Other User's Avatar">
                </div>
                <div class="col s10">
                  <h5>Username</h5>
                  <p>message</p>
                  <span>Timestamp</span>
                </div>
              </div>
            </div>
            <div class="col s6"></div>
          </div>

          <div class="row">
            <!--if own message use right col, if not use left col-->
            <div class="col s6"></div>
            <div class="col s6 ownMessage">
              <div class="row">
                <div class="col s2">
                  <img src="" alt="Avatar">
                </div>
                <div class="col s10">
                  <h5>Username</h5>
                  <p>message</p>
                  <span>Timestamp</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--Input field, dear god help me.-->
        <div class="row">
          <div class="divider"></div>
          <div class="col s1"></div>
          <div class="col s10">
            <textarea name="name" rows="8" cols="80"></textarea>
            <button type="button" class="waves-effect waves-light btn" name="button">Submit</button>
          </div>
          <div class="col s1"></div>
        </div>
      </div>

      <div class="col s2" id="activeUsers">
        <!--Include Active users here-->
      </div>
    </div>

  </div>
{% endblock %}
