{% extends 'templates/base.twig' %}

{% block container %}
    <!--Content-->
    <div class="col row s12 m6 center-align">
        <h1>The I.T. Connection</h1>
        <p>Here at The IT Connection we strive to give people working in the IT sector a reliable place to interact and
            work together.<br/>Sign up today to join our community of hardworking managers, developers and hobbyists.
        </p>
    </div>
    <!--Sign Up-->
    <div class="col row s12 m6 center-align">
        <a class="waves-effect waves-light btn blue" href="{{ path_for('register') }}">Login / Register</a>
        <span>or</span>
        <a class="waves-effect waves-light btn blue" href="{{ path_for('authorization') }}">Authorize</a>
    </div>
{% endblock %}