{% extends 'templates/base.twig' %}

{% block body %}
    <div>
        <!--Main Page Row-->
        <div class="row">
            <!--Recent Activities-->
            <div id="recent-activity" class="col l10 s12 activityWrapper">
                <!--Sections by time-->
                <div class="section">
                    <h5>Feed</h5>
                    <div class="divider"></div>
                    <div class="row activityBlock">
                        <div class="col s1">
                            <img class="activityAvatar" src="/img/users/test.png" alt="avatar">
                        </div>
                        <div class="col s11">
                            <div class="row">
                                <div class="col s9">
                                    <h5>Username</h5>
                                </div>
                                <div class="col s3">
                                    <h6>date & time</h6>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Activity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('templates/friendlist.twig') %}
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        SetActive("header-home");
    </script>
{% endblock %}
