{% extends 'templates/base.twig' %}

{% block body %}
    <div>
        <!--Main Page Row-->
        <div class="row">
            <!--User Details-->
            <div class="col s3 section" style=" background-color: #EEEEEE">
                <div class="section">
                    <div class="row">
                        <div id="container-account_img" class="col s12">
                            <img class="user-img-big" src="/img/users/test.png" alt="Avatar">
                            <h4 id="account_name">{{ projectName }}</h4>
                        </div>
                        <div class="col s3"></div>
                    </div>
                </div>

                <div class="divider"></div>

                <!--Users Connected to this project-->
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <h5>Developers of this project</h5>
                        </div>
                        <div class="row">
                            <!--Links to connections-->
                            <div class="col s4" style="background-color: gray;">
                                <img src="" alt="connectionAvatar">
                                <h5>Connection Username</h5>
                            </div>
                        </div>
                        <!--In Case of lot of users, show all users-->
                        <div class="row">
                            <div class="col s12">
                                <a>See all people connected to this project</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--For project creator/admin, include project settings-->
                <a class="waves-effect waves-light btn">Settings</a>

            </div>

            <!--Recent Activities-->
            <div class="col l7 s9" style="background-color: #FEFEFE; height: 100vh;">
                <!--Sections by time-->
                <div class="section">
                    <h6>Time Indicator</h6>
                    <div class="divider"></div>
                    <div class="row" style="background-color: #BCBCBC">
                        <div class="col s1">
                            <img src="" alt="avatar">
                        </div>
                        <div class="col s11">
                            <div class="row">
                                <div class="col s9">
                                    <h5>Username</h5>
                                </div>
                                <div class="col s3">
                                    <h6>date & time</h6>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s12">
                                    <p>Activity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include('templates/friendlist.twig') %}
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        SetActive('header-account')
    </script>
{% endblock %}
