{% extends 'templates/base.twig' %} {% block body %}
<div>
    <!--Main Page Row-->
    <div class="row">
        <div id="container-projects" class="row">
            <ul id="list-project">
                {% if accountId is not null and accountId is not empty %}
                <li class="project-wrapper">
                    <a id="create_article-button" class="modal-trigger" href="#modal-createproject">Create New Project</a>
                </li>    
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Modal Structure -->
  <div id="modal-createproject" class="modal">
    <div class="modal-content">
      <h4>Create New Project</h4>
    </div>
    <div class="modal-footer">
      <div class="divider"></div>
      <button class="modal-close btn blue left waves-effect waves-light">Create</button>
      <button class="modal-close btn blue left waves-effect waves-light">Cancel</button>
    </div>
  </div>

</div>
{% endblock %} {% block script %}
<script>
    SetActive('header-projects')
</script>
{% endblock %}