{% extends 'templates/base.twig' %} {% block body %}
    <div>
        <!--Main Page Row-->

        <div class="row">
            <div id="container-projects" class="row">
                <ul id="list-project">
                </ul>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal-createproject" class="modal">
            <div class="modal-content">
                <h4>Create New Project</h4>
                <div id="form-project row">
                    <div class="input-field">
                        <input required onkeypress="LimitChars(event);" class="has-character-counter" type="text" id="project-name" data-length="32">
                        <label for="project-name">Project Name</label>
                    </div>
                    <div class="input-field">
                        <input required type="text" id="project-link">
                        <label for="project-link">Github Link</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="divider"></div>
                <button onclick="ValidateProjectForm();" class="btn blue left waves-effect waves-light">Create</button>
                <button class="modal-close btn blue left waves-effect waves-light">Cancel</button>
            </div>
        </div>

    </div>
{% endblock %} {% block script %}
    <script>
    GetId('container-projects').innerHTML += `
            <li id="btn-create_project">
                <a id="create_article-button" class="modal-trigger" href="#modal-createproject">Create New
                Project</a>
            </li>
        `;
        SetActive('header-projects')
        M.CharacterCounter.init(document.querySelectorAll('.has-character-counter'));
        RetrieveProjects();
    </script>
{% endblock %}