{% extends 'templates/base.twig' %} {% block body %}
<div>
    <!--Main Page Row-->
    <div class="row">
        <div id="container-projects" class="row">
            <ul id="list-project">
                {% if accountId is not null and accountId is not empty %}
                <li>
                    <a class="modal-trigger" href="#modal-createproject">re</a>
                </li>    
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Modal Structure -->
  <div id="modal-createproject" class="modal">
    <div class="modal-content">
      <h4>Create New Project</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat left">Create</a>
    </div>
  </div>

</div>
{% endblock %} {% block script %}
<script>
    SetActive('header-account')
</script>
{% endblock %}