{% extends 'templates/base.twig'%}

{% block container %}
<div class="row">

  <!--Login-->
  <div class="col s6">
    <h5>Login</h5>
    <form class="" action="{{ path_for('login') }}" method="post">
      <div class="input-field">
        <input id="email" type="email" class="validate" required name="login-email" value="">
        <label for="email">E-mail Address</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" required name="login-pass" value="">
        <label for="password">Password</label>
      </div>
      <input class="waves-light waves-light btn blue" type="submit" value="Submit">
    </form>
  </div>

  <!--Sign Up-->
  <div class="col s6">
    <h5>Sign-Up</h5>
    <form class="" action="{{ path_for('register') }}" method="post">
      <div class="input-field">
        <input id="email" type="email" class="validate" required name="register-email" value="">
        <label for="email">E-mail Address</label>
      </div>
      <div class="input-field">
        <input id="username" type="text" class="validate" required name="register-username" value="">
        <label for="email">Choose a Username</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" required name="register-password" value="">
        <label for="password">Make a Password</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" required name="register-passconfirm" value="">
        <label for="password">Repeat your Password</label>
      </div>
      <input class="waves-light waves-light btn blue" type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}
