{% extends 'templates/base.twig' %}
{% block container %}
<div>
    <form action="/search" method="post">
        <div id="container-chatbox" class="row">
            <div class="input-field col s6 offset-s3">
                <input id="search-box" type="text" name="search-username">
                <label for="search-box">Search for profiles</label>
            </div>
            <button id="search-btn" onclick="Search(document.getElementById('search-box').value, {{ accountId }})" class="btn waves-effect waves-light blue"
                        type="button">Search</button>
        </div>
    </form>
    <div class="divider"></div>
    <!-- This gets filled with the accounts you searched -->
    <div id="container-search_accounts_output"></div>
</div>
{% endblock %}
{% block script %}
    <script>
        SetActive('header-search')
    </script>
{% endblock %}
